.vscode
Tests_v5.zip
cartas_v7.zip
Tarealucha\.idea
Tarealucha\obj
Tarealucha\bin\Debug\net6.0
Tarealucha/.idea

Tarealucha/.idea/.idea.Tarealucha/.idea/workspace.xml
Tarealucha/bin/Debug/net6.0/Luchalibre.deps.json
Tarealucha/bin/Debug/net6.0/Luchalibre.dll
Tarealucha/bin/Debug/net6.0/Luchalibre.exe
Tarealucha/bin/Debug/net6.0/Luchalibre.pdb
Tarealucha/bin/Debug/net6.0/Luchalibre.runtimeconfig.json
Tarealucha/obj/Debug/net6.0/apphost.exe
Tarealucha/obj/Debug/net6.0/Luchalibre.csproj.CoreCompileInputs.cache
Tarealucha/obj/Debug/net6.0/Luchalibre.csproj.FileListAbsolute.txt
Tarealucha/obj/Debug/net6.0/Luchalibre.dll
Tarealucha/obj/Debug/net6.0/Luchalibre.genruntimeconfig.cache
Tarealucha/obj/Debug/net6.0/Luchalibre.pdb
Tarealucha/obj/Debug/net6.0/ref/Luchalibre.dll
Tarealucha/obj/Debug/net6.0/refint/Luchalibre.dll
Tarealucha/.idea/.idea.Tarealucha/.idea/workspace.xml
